.myAccord{
    width: 95%;
    background-color: rgb(70, 68, 68);
    padding: 1rem 2rem;
}
.myAccord .title{
    background-color: rgb(145, 127, 127);
}

.details{
    display: flex;
    justify-content: center;
    background-color: blueviolet;
}