.myAccord{
    width: 100%;
    background-color: rgb(70, 68, 68);
    padding: 1rem 2rem;
}
.myAccord .title{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(154, 223, 160);
}

.details{
    display: flex;
    justify-content: center;
}

.accord{
    
    margin-top: 1rem;
}