.myAccord{
    width: 100%;
    padding: 1rem 2rem;
}
.myAccord .title{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #33B77B 0%, #049A87 54.41%, #0B5474 97.04%);
}

.details{
    display: flex;
    justify-content: center;
}

.accord{
    
    margin-top: 1rem;
}